{
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "", "^[./]"],
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
